@font-face {
  font-family: "Sahel";
  font-style: normal;
  font-weight: normal;
  src: url(https://github.com/mehdi-adham/ASP-NET-tutorials-fa-ir/tree/main/fonts/Sahel.ttf) format("truetype");
}

#user-content-sec {
  font-family: "Sahel";
}
